{% comment %}Можно сделать доступ в глубину через точку,
можно запрос по нескольким ключам.
Но пока практически этого нигде не потребовалось.{% endcomment %}
<script>
    var MEGATYUMEN = MEGATYUMEN || {};

    {# Переменные с сервера #}

    MEGATYUMEN.globals = function (key) {
        var global_vars = {
            module           : '{% if js_module %}{{ js_module }}{% endif %}',
            user_name        : '{{ current_user.name|default:'' }}',
            user_pk          : {{ current_user.pk|default:0 }},
            base_domain      : '{{ domain }}',
            base_url         : 'http://{{ domain }}',
            current_section  : '{{ current_section }}',
            disable_partners : {{ config.local.disable_partners|yesno:'true,false,null' }},
            disable_traffic_informer_requests : {{ config.local.disable_traffic_informer_requests|yesno:'true,false,null' }},
            google_analytics_enable : {{ config.GOOGLE_ANALYTICS.enable|yesno:'true,false,null' }},
            google_analytics_code : '{{ config.GOOGLE_ANALYTICS.web_client_code|default:'' }}',
            shortcut_links   : {% if shortcut_links %}{{ shortcut_links|safe }}{% else %}0{% endif %}, // Быстрые ссылки для каталога
            notices          : {% if messages %}[{% for m in messages %}{% if not 'internal' in m.tags %}['{{ m|safe }}', '{{ m.tags }}']{% if not forloop.last %},{% endif %}{% endif %}{% endfor %}]{% else %}null{% endif %} // django-уведомления
        };
        var copy = $.extend({}, global_vars);
        return (key ? copy[key] : copy);
    };
</script>

<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/npm.js"></script>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="/static/js/functions.js"></script>
