<div class="groups_popup popup">
	<form id="groups_popup_form">
		<input type="hidden" value="{{ user_id }}" name="user_id" />
		<ul>
			{% for role in groups %}
			<li>
				<label>
					<input type="checkbox" name="groups" value="{{ role.data.id }}" {% if role.checked %}checked="checked"{% endif %}/>
					{{ role.data.name }}
				</label>
			</li>
			{% endfor %}
		</ul>
		<div class="submit">
			<input type="button" onclick="save_groups({{ user_id }})" value="Сохранить" />
			<a href="javascript:void(0);" onclick="$('.groups_popup').remove()">Отмена</a>
		</div>
	</form>
</div>
