{% extends "admin/change_list.html" %}

{% block extrahead %}

{{ block.super }}
<style type="text/css">
    .popup {
        position: relative;
        width: 223px;
    }

    a.dotted {
        border-bottom-style: dotted;
        border-bottom-width: 1px;
        text-decoration: none;
        color: #000000;
    }
</style>

<script type="text/javascript">
        // Показываем popup с редактированием групп
        function show_groups_popup(el, user_id) {
            $('.groups_popup').remove();
            $.get("edit_groups_popup", {user_id: user_id}, function(results){
                $(el).after(results);
            }, 'json');
        }

        // Сохраняем группы пользователя
        function save_groups(user_id) {
            $.get('save_groups',
                    $('#groups_popup_form').serialize(),
                    function(data) {
                        if(data.error) {
                            alert(data.error_msg);
                        } else {
                            $('.groups_popup').remove();
                            $('#groups_user_'+user_id).replaceWith(data.html);
                        }
                    },
                    'json'
            );
        }
</script>
{% endblock %}
